.GalleryItem {
    text-align: center;
}

.GalleryItem-header {
    background-color: #222;
    padding: 1em;
    color: white;
    margin-bottom: 1em;
}

.GalleryItem-title {
    font-size: 1.5em;
}

li {
    color: white;
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 30px;
    background-color: rgb(167, 159, 159);
    border-radius: 10px;
}

img, .descriptionMemory {
    font-size: larger;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    text-align: left;
}

button {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: larger;
    height: 30px;
    width: 100px;
    margin-top: 20px;
}
