.GalleryItem {
    text-align: center;
}

li {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 25px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 3px solid grey;
}

img, .descriptionMemory {
    font-size: larger;
    height: 365px;
    width: 365px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
}

#flexButtons {
    display: flex;
    justify-content: center;
}

.memoryButton {
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: medium;
    height: 25px;
    width: 80px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 7px #999;
}

.likeButton:hover {
    color: white;
    background-color: green;
    transition: 0.3s;
}

.likeButton:active {
    color: black;
    background-color: lightgreen;
    box-shadow: 0 4px rgb(136, 134, 134);
    transform: translateY(4px);
}

.deleteButton:hover {
    color: white;
    background-color: red;
    transition: 0.3s;
}

.deleteButton:active {
    color: black;
    background-color: lightcoral;
    box-shadow: 0 4px rgb(136, 134, 134);
    transform: translateY(4px);
}

p {
    font-size: larger;
    color: rgb(8, 61, 184);
}
