.GalleryItem {
    text-align: center;
}

.GalleryItem-header {
    background-color: #222;
    padding: 1em;
    color: white;
    margin-bottom: 1em;
}

.GalleryItem-title {
    font-size: 1.5em;
}

li {
    flex-direction: vertical;
    padding: 10px;
    margin: 20px;
}

img {
    height: 300px;
    width: 300px;
}

.descriptionMemory {
    padding: 50% 20% 0% 20%;
}
