input {
    font-size: large;
    margin-right: 20px;
    height: 35px;
    width: 40%;
    min-width: 300px;
    border-radius: 10px;
}

#submitButton {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 8px;
    font-size: medium;
    height: 35px;
    width: 80px;
    margin: 5px;
    cursor: pointer;
}
