.App {
    text-align: center;
    background-image: url("/images/tape.jpg");
    background-size: contain;
}

.App-header {
    background-color: black;
    padding: .8em;
    color: white;
    margin-bottom: 1em;
}

.App-title {
    font-size: 1.5em;
}
